.form {
    &-group {
        border-bottom: 1px solid $color-primary;
        padding-bottom: 7px;
        position: relative;
    }

    &-label {
        position: absolute;
        left: 0;
        top: 4px;
        color: $gray;
        transition: $transition-base;
    }

    &-control {
        color: $text;

        &:focus, &:valid {
            & + label {
                top: -12px;
                font-size: 9px;
            }
        }
    }

    &-control, &-label {
        font-size: 13px;
        font-weight: 500;
    }
}