.form {
  border-radius: $border-radius;
  padding: 30px;
  box-shadow: $box-shadow;
  max-width: 340px;
  width: 100%;

  &-plain {
    border-radius: 0;
    padding: 0;
    box-shadow: none;
  }

  &-title {
    text-align: center;
  }
}
