@mixin line-clamp($line: 3, $height: null) {
  @if $height {
    min-height: $height;
  }

  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
