.btn {
    background-color: none;
    outline: none;
    width: 100%;
    padding: 12px 20px;
    text-align: center;
    display: block;
    transition: $transition-base;
    border-radius: $border-radius-sm;
    border: 1px solid transparent;
    cursor: pointer;

    &-primary {
        background-color: $color-primary;
        color: $white;

        &:hover {
            background-color: rgba($color-primary, .8);
        }
    }

    &-link {
        background-color: transparent;
        color: $color-primary;

        &:hover {
            color: rgba($color-primary, .8);
        }
    }

    &-text-sm {
        font-size: 11px;
    }
}
