//colors
$color-primary: #3369f3;
$color-primary-light: #e4edfd;
$black: #000000;
$white: #ffffff;
$gray: #999999;
$text: #1e1e1e;
$light: #efefef;
$border-color: #eaeaea;
$red: #ff0000;

//shadow
$box-shadow: 0 0 6px 0 rgba($black, 0.14);

//radius
$border-radius: 12px;
$border-radius-sm: 8px;
$botder-radius-xs: 5px;

//font
$font-base: 'Inter', sans-serif;

//transition
$transition-base: all 0.2s ease-in-out;

//text
$text-xxl: 40px;
$text-xl: 20px;
$text-lg: 15px;
$text-md: 13px;
$text-sm: 12px;
$text-xs: 9px;

$text-h1: $text-xxl;
$text-base: $text-sm;
